body {
    background-image:
        url("https://images.pexels.com/photos/1550618/pexels-photo-1550618.jpeg?dl&fit=crop&crop=entropy&w=2813&h=4032");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

h1 {
    color : yellow;
    text-align: center;
}

p {
    color : Crimson;
    text-align: center;
}
